<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.sdhub.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.sdhub.client.perspective.MainPerspective"
            fixed="true"
            icon="icons/alt_window_32.gif"
            id="org.sdhub.client.perspective.MainPerspective"
            name="Main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.sdhub.client.views.CycleTaskView"
            icon="icons/alt_window_32.gif"
            id="org.sdhub.client.views.CycleTaskView"
            name="Cycle Task Window">
      </view>
      <view
            class="org.sdhub.client.views.RemoteFilesView"
            id="org.sdhub.client.views.ResourceListView"
            name="Remote Files">
      </view>
      <view
            class="org.sdhub.client.views.LogView"
            id="org.sdhub.client.views.LogView"
            name="Log Window">
      </view>
      <view
            class="org.sdhub.client.views.WebView"
            id="org.sdhub.client.views.WebView"
            name="Stock Data Hub">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               id="org.sdhub.client.settingsMenu"
               label="Settings">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="org.sdhub.client.openPreference"
                  label="Settings"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sdhub.client.preference.MainPreferencePage"
            id="org.sdhub.client.preference.MainPreferencePage"
            name="Main Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sdhub.client.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.sdhub.client.perspective.MainPerspective">
         <view
               closeable="false"
               id="org.sdhub.client.views.CycleTaskView"
               minimized="false"
               moveable="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.sdhub.client.views.ResourceListView"
               minimized="false"
               moveable="false"
               ratio="0.19f"
               relationship="right"
               relative="org.sdhub.client.views.CycleTaskView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.sdhub.client.views.WebView"
               minimized="false"
               moveable="false"
               ratio="0.62f"
               relationship="right"
               relative="org.sdhub.client.views.ResourceListView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.sdhub.client.views.LogView"
               minimized="false"
               moveable="false"
               ratio="0.74f"
               relationship="bottom"
               relative="org.sdhub.client.views.ResourceListView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
